:root {
  --font: "Raleawy", sans-serif;
  --bg-color: #f9fafb;
  --bg-color-opacity: rgba(249, 250, 251, 0.3);
  --text-color: #16191d;
  --hover-color: rgba(231, 86, 46, 0.5);
  --card-color: rgb(231, 118, 46);
  --skills-bar-length: 0%;
  --ok-color: #1ed12d;
  --error-color: #f44336;
  --header-height: 60px;
  --card-opacity: rgba(0, 0, 0, 0.1);
  --hover-opacity: rgba(0, 0, 0, 0.8);
}

/*********************** Reset ****************************/
html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.5s, color 0.5s;
  overflow-x: hidden;
}

body.dark {
  --bg-color: #16191d;
  --bg-color-opacity: rgba(22, 25, 29, 0.3);
  --text-color: #f9fafb;
  --card-color: rgb(231, 118, 46);
  --hover-color: rgba(231, 86, 46, 0.5);
  --card-opacity: rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar {
  width: 8px;
  background-color: var(--bg-color);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--card-color);
  border-radius: 5px;
}

a {
  text-decoration: none;
  transition: color 0.5s ease;
}

ul {
  margin: 0;
  list-style: none;
}

.section {
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
}

.none {
  display: none;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.5;
  margin-bottom: 0;
}

/*********************** End Reset ****************************/

/*********************** PRE pre-loader ****************************/

.pre-loader-container {
  width: 100%;
  height: 100vh;
  z-index: 999;
  top: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s, visibility 0.5s;
  background-color: #f9fafb;
}
.pre-loader {
  position: relative;
  width: 2.5em;
  height: 2.5em;
  transform: rotate(165deg);
}
.pre-loader:before,
.pre-loader:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0.5em;
  height: 0.5em;
  border-radius: 0.25em;
  transform: translate(-50%, -50%);
}
.pre-loader:before {
  animation: before 2s infinite;
}
.pre-loader:after {
  animation: after 2s infinite;
}
@keyframes before {
  0% {
    width: 0.5em;
    box-shadow: 1em -0.5em var(--hover-color), -1em 0.5em var(--card-color);
  }
  35% {
    width: 2.5em;
    box-shadow: 0 -0.5em var(--hover-color), 0 0.5em var(--card-color);
  }
  70% {
    width: 0.5em;
    box-shadow: -1em -0.5em var(--hover-color), 1em 0.5em var(--card-color);
  }
  100% {
    box-shadow: 1em -0.5em var(--hover-color), -1em 0.5em var(--card-color);
  }
}
@keyframes after {
  0% {
    height: 0.5em;
    box-shadow: 0.5em 1em var(--hover-color), -0.5em -1em var(--card-color);
  }
  35% {
    height: 2.5em;
    box-shadow: 0.5em 0 var(--hover-color), -0.5em 0 var(--card-color);
  }
  70% {
    height: 0.5em;
    box-shadow: 0.5em -1em var(--hover-color), -0.5em 1em var(--card-color);
  }
  100% {
    box-shadow: 0.5em 1em var(--hover-color), -0.5em -1em var(--card-color);
  }
}

/*********************** END pre-loader ****************************/

/******************** Network Status *****************/

.online,
.offline {
  position: sticky;
  top: var(--header-height);
  z-index: 980;
  padding: 2px;
  font-weight: bold;
  text-align: center;
  background-color: var(--ok-color);
  color: #fff;
}

.offline {
  background-color: var(--error-color);
}

/******************** Header *****************/

.header {
  top: 0;
  position: sticky;
  height: var(--header-height);
  background-color: var(--bg-color);
  z-index: 900;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  top: 0;
  padding: 0 10px;
}

.logo-container a {
  color: var(--text-color);
  font-size: 2rem;
}

/***************************** Hamburguer Menu *****************************/
.hamburger {
  padding: 15px;
  cursor: pointer;
  overflow: hidden;
}
.hamburger-container {
  width: 36px;
  height: 24px;
  position: relative;
}
.hamburger:hover .hamburger-inner {
  transform: translate(-51px, 50%);
  opacity: 0;
}
.hamburger:hover .hamburger-inner::before,
.hamburger:hover .hamburger-inner::after {
  transform: translate(102px, 0);
  opacity: 0;
}
.hamburger.is-active .hamburger-inner {
  display: none;
}

.hamburger-inner {
  width: 100%;
  height: 2px;
  background-color: var(--text-color);
  border-radius: 4px;
  position: absolute;
  transition: transform 0.4s ease, opacity 0.4s ease;
  top: 50%;
  transform: translate(5px, -50%);
  opacity: 1;
}
.hamburger-inner::before,
.hamburger-inner::after {
  width: 100%;
  height: 2px;
  background-color: var(--text-color);
  border-radius: 4px;
  position: absolute;
  transition: transform 0.4s ease, opacity 0.4s ease;
  content: "";
  opacity: 1;
  transform: translate(-5px, 0);
}
.hamburger-inner::before {
  top: -13px;
}
.hamburger-inner::after {
  top: 13px;
}
.hamburger:hover .hamburger-hidden {
  opacity: 1;
  transform: translate(0, -50%);
  background-color: var(--card-color);
}

.hamburger:hover .hamburger-hidden::before,
.hamburger:hover .hamburger-hidden::after {
  opacity: 1;
  transform: translate(0, 0);
  background-color: var(--card-color);
}
.hamburger.is-active .hamburger-hidden {
  opacity: 1;
  transform: rotate(45deg);
}
.hamburger.is-active .hamburger-hidden::before {
  transform: translate(0, 13px) rotate(90deg);
  transform-origin: center;
}
.hamburger.is-active .hamburger-hidden::after {
  transform-origin: center;
  transform: translate(0, -13px) rotate(0);
}

.hamburger-hidden {
  opacity: 0;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  position: absolute;
  transition: transform 0.4s ease, opacity 0.4s ease;
  background-color: var(--card-color);
  top: 50%;
  transform: translate(51px, -50%);
}

.hamburger-hidden::before,
.hamburger-hidden::after {
  width: 100%;
  height: 2px;
  border-radius: 4px;
  position: absolute;
  transition: transform 0.4s ease, opacity 0.4s ease;
  background-color: var(--text-color);
  content: "";
  transform: translate(102px, 0);
}
.hamburger-hidden::before {
  top: -13px;
}
.hamburger-hidden::after {
  top: 13px;
}

/*********** NAV MENU ***************/

.nav-menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: -100%;
  transition: margin-right 0.8s ease;
  background-color: var(--bg-color);
  z-index: 15;
}

.menu {
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-item {
  width: 100%;
}

.menu-animate {
  opacity: 0;
  transform: translateY(0px);
}

/*********** Aminacion links menu ***************/
@keyframes animationLinkMenu {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.menu-link {
  width: 70%;
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 20px 20px;
  margin: 0 auto;
  transition: color 0.3s ease;
  color: var(--text-color);
  font-size: 1.5rem;
}

.main-nav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: none;
  background-color: var(--hover-opacity);
}

.show-menu {
  margin-right: 0;
}

/************************ SETTINGS ***************************/
.settings {
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/************************ DARK MODE ***************************/

.dark-mode {
  position: relative;
  width: 2.1rem;
  height: 2.1rem;
  background-color: var(--card-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  cursor: pointer;
  margin-right: 10px;
}

.dark-mode span {
  position: absolute;
}
.dark-mode span i {
  font-size: 1.5rem;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

/************************ LANGUAGES ***************************/

.flags {
  position: relative;
  width: 2.1rem;
  height: 2.1rem;
  background-color: var(--card-color);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.flags i {
  font-size: 1.5rem;
  transition: transform 1.1s ease;
}

.flags i.flags-active {
  transform: rotate(180deg);
}

.flag-icons {
  position: absolute;
  width: 2.1rem;
  height: 2.1rem;
  right: 0;
  border-radius: 5px;
  background-color: var(--card-color);
  transition: transform 0.5s, width 0.5s, height 0.5s;
  transition-delay: 1s, 0.5s, 0.5s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: -1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.flags i.flags-active ~ .flag-icons {
  width: 200px;
  height: 40px;
  right: 0;
  transform: translateY(-50px);
  background-color: var(--card-color);
  transition-delay: 0s, 0.5s, 0.5s;
  z-index: 1;
}

.flag-icons::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background: var(--card-color);
  right: 10px;
  bottom: 4px;
  border-radius: 2px;
  transition: 0.5s;
  transform: rotate(45deg);
  z-index: -1;
}

.flags i.flags-active ~ .flag-icons::before {
  transition-delay: 0.5s;
  bottom: -5px;
}

.flags-item {
  width: 30px;
  height: 30px;
  opacity: 0;
  visibility: hidden;
  transition: 0.25s;
  transition-delay: calc(0s + var(--a));
  transform: translateY(-15px);
}

.flags i.flags-active ~ .flag-icons .flags-item {
  opacity: 1;
  visibility: visible;
  transition-delay: calc(0.75s + var(--a));
  transform: translateY(0);
}
.flags-img {
  margin: 0;
  line-height: 30px;
}

/*********** HOME SECTION ***************/

.home {
  position: relative;
  width: 100%;
  height: calc(100vh - var(--header-height));
}

.home-title {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin: 0;
}

.scrolldown {
  position: absolute;
  bottom: 60px;
  left: 50%;
  width: 40px;
  height: 40px;
  transform: translate(-50%, -30px) rotate(45deg);
  cursor: pointer;
}

.scrolldown span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid var(--text-color);
  border-right: 3px solid var(--text-color);
  animation: animate 2s linear infinite;
  opacity: 0;
}

.scrolldown span:nth-child(1) {
  transform: translate(-15px, -15px);
  animation-delay: -0.4s;
}
.scrolldown span:nth-child(2) {
  transform: translate(0, 0);
  animation-delay: -0.2s;
}
.scrolldown span:nth-child(3) {
  transform: translate(15px, 15px);
  animation-delay: 0s;
}

@keyframes animate {
  0% {
    top: -5px;
    left: -5px;
    opacity: 0;
  }
  25% {
    top: 0;
    left: 0;
    opacity: 1;
  }
  50%,
  100% {
    top: 5px;
    left: 5px;
    opacity: 0;
  }
}

#canvas1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*********** ABOUT SECTION ***************/

.about {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: var(--header-height);
  display: flex;
  flex-direction: column;
}

#canvas4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -5;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: transform 1s ease, opacity 1s ease;
  transition-delay: var(--r);
}

.contentReveal {
  transform: translateY(0px);
  opacity: 1;
}

.cards {
  margin: 10px auto;
  width: 90vw;
  height: 100%;
  box-shadow: 1px 1px 32px var(--card-opacity),
    -1px -1px 20px var(--card-opacity);
  padding: 20px 20px;
  border-radius: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-color-opacity);
  backdrop-filter: blur(5px);
}

.cards ~ .cards {
  margin-top: 35px;
  justify-content: stretch;
  align-items: stretch;
}

.cards::before {
  content: "";
  position: absolute;
  top: -2vh;
  left: -2vw;
  width: 94vw;
  height: 105%;
  /* height: 94vh; */
  background-color: var(--bg-color-opacity);
  backdrop-filter: blur(4px);
  border-radius: 5px;
  box-shadow: 1px 1px 32px var(--card-opacity),
    -1px -1px 32px var(--card-opacity);
  z-index: -10;
}

.cards:nth-child(1) {
  align-items: center;
}

.card-title {
  margin-bottom: 1em;
  text-align: center;
}

.btn-cv {
  margin-top: 50px;
  width: 200px;
  height: 50px;
  border: 2px solid var(--card-color);
  border-radius: 5px;
  background-color: var(--bg-color);
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.btn-cv:hover {
  background-color: var(--card-color);
}

.btn-cv-fix {
  margin-top: 15px;
}

.btn-cv a {
  color: var(--text-color);
  font-size: 18px;
  font-weight: bold;
}

.little-txt {
  position: absolute;
  right: 20px;
}

.skills {
  padding: 1em 0;
}

.skills-header {
  display: flex;
  justify-content: space-between;
  width: 175px;
  margin-left: auto;
}

.skills-tech {
  margin: 0;
  font-weight: bold;
}

.skills-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5em;
}

.skills-bar,
.skills-bar::after {
  position: relative;
  width: 175px;
  height: 10px;
  background-color: var(--card-opacity);
  overflow: hidden;
}

.skills-bar::after {
  content: "";
  position: absolute;
  left: -175px;
  background-color: var(--card-color);
  transition: color 0.1s, background-color 0.2s ease-in-out;
  animation: skills-bar-fill 2s ease-in-out forwards;
}

@keyframes skills-bar-fill {
  to {
    transform: translateX(var(--skills-bar-length));
  }
}

.skills-bar--10::after {
  --skills-bar-length: 10%;
}
.skills-bar--20::after {
  --skills-bar-length: 20%;
}
.skills-bar--30::after {
  --skills-bar-length: 40%;
}
.skills-bar--40::after {
  --skills-bar-length: 40%;
}
.skills-bar--50::after {
  --skills-bar-length: 50%;
}
.skills-bar--60::after {
  --skills-bar-length: 60%;
}
.skills-bar--70::after {
  --skills-bar-length: 70%;
}
.skills-bar--80::after {
  --skills-bar-length: 80%;
}
.skills-bar--90::after {
  --skills-bar-length: 90%;
}
.skills-bar--100::after {
  --skills-bar-length: 100%;
}

/*********** PORTFOLIO SECTION ***************/

.portfolio {
  width: 100%;
  height: auto;
  padding-top: var(--header-height);
  position: relative;
}

.portfolio h2 {
  text-align: center;
  font-size: 2rem;
  color: var(--card-color);
}

.portfolio p {
  width: 90vw;
  margin: 0 auto 5px auto;
  text-align: center;
}

.col {
  overflow: hidden;
  position: relative;
}
.slide {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all 0.275s ease-in-out, visibility 0s 0.275s;
  visibility: hidden;
  will-change: transform;
  transform: translateY(100%);
}
.row:hover ~ .row .slide {
  transform: translateY(-100%);
}
.row:hover .slide {
  transform: translateX(100%);
}
.row:hover .col:hover ~ .col .slide {
  transform: translateX(-100%);
}
.row:hover .col:hover .slide {
  transform: none;
  visibility: visible;
  transition-delay: 0s;
  background-color: var(--hover-opacity);
}

.portfolio-container {
  margin: 0 auto;
  padding: 0 2rem;
  max-width: 1300px;
}
.row {
  display: flex;
  flex-direction: column;
}

.col {
  flex: 1 1 auto;
  min-height: 160px;
  position: relative;
}

.col:nth-child(2) {
  min-width: 20%;
}
.col:nth-child(4) {
  min-width: 33%;
}
.col:nth-child(3) + .col:nth-child(3) {
  min-width: 50%;
}
.photo-container {
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 1s;
  transform-origin: bottom right;
}

.photo-container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.col:hover .photo-container {
  transform: scale(1.25);
}
.slide {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.slide p {
  font-size: 1rem;
  color: #f9fafb;
}

.slide a {
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--card-color);
}

/*********** CONTACT SECTION ***************/

.contact {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: var(--header-height);
}

.card-contact {
  height: 100%;
}

.card-contact h2 {
  margin: 0;
}

.card-contact::before {
  height: 105%;
}

#canvas2 {
  display: none;
}

.form-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-label {
  display: block;
  font-weight: 700;
  padding: 10px;
  cursor: pointer;
}

.form-group-input {
  position: relative;
}

.form-input {
  width: 100%;
  background-color: var(--card-opacity);
  color: var(--text-color);
  border: 3px solid transparent;
  border-radius: 3px;
  height: 45px;
  line-height: 45px;
  padding: 0 40px 0 10px;
  transition: all 0.3s ease;
}
.form-input::placeholder,
.text-area::placeholder {
  color: var(--text-color);
  font-size: 14px;
}

.text-area {
  resize: none;
  width: 100%;
  height: 100px;
  outline: none;
  border: none;
  border: 3px solid transparent;
  padding-left: 10px;
  border-radius: 3px;
  background-color: var(--card-opacity);
  color: var(--text-color);
}

.form-input:focus,
.text-area:focus {
  outline: none;
  color: var(--text-color);
}

.form-group-error {
  font-size: 12px;
  margin-bottom: 0;
  color: var(--error-color);
}

.form-validation-status {
  position: absolute;
  right: 10px;
  bottom: 15px;
  z-index: 5;
  font-size: 16px;
  opacity: 0;
}

.form-message {
  border-radius: 3px;
  background-color: var(--error-color);
  padding: 10px;
  margin-bottom: 5px;
  opacity: 1;
  transition: 2s ease;
}

.form-message p {
  margin-top: 0;
}

.form-response,
.form-response-error {
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  margin-bottom: 5px;
  background-color: var(--ok-color);
  opacity: 1;
  transition: 2s ease;
}

.form-response-error {
  background-color: var(--error-color);
}

.liquid-btn-container {
  padding-top: 40px;
  width: 80px;
  position: relative;
  height: auto;
}

.contact-btn {
  margin-top: 10px;
  width: 200px;
  height: 50px;
  align-self: center;
  border: 2px solid var(--card-color);
  border-radius: 5px;
  background-color: var(--bg-color);
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.contact-btn:hover {
  background-color: var(--card-color);
}

.contact-btn a {
  color: var(--text-color);
  font-size: 18px;
  font-weight: bold;
}

.loader-send {
  position: relative;
  width: 60px;
  height: 60px;
  left: 45%;
}

.loader-contact {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*************************  Validation Styles ************************/
.form-group-correct .form-validation-status {
  color: var(--ok-color);
  opacity: 1;
}

.form-group-incorrect .form-validation-status {
  color: var(--error-color);
  opacity: 1;
}

.form-group-incorrect .form-input,
.form-group-incorrect .text-area {
  border: 3px solid var(--error-color);
}

.form-group-correct .form-input,
.form-group-correct .text-area {
  border: 3px solid var(--ok-color);
}

/************************ FOOTER ***************************/
.footer {
  height: var(--header-height);
  background-color: var(--card-color);
  width: 100%;
  margin-top: 100px;
}

.footer-container {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
}

.footer-container p {
  margin: 0;
}

/************************ DESTOK SCREEN ***************************/

@media screen and (min-width: 1024px) {
  .hamburger {
    display: none;
  }

  .nav-menu {
    position: static;
    top: 0;
    right: auto;
    height: var(--header-height);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 0;
  }

  .settings {
    width: 200px;
    height: var(--header-height);
    justify-content: center;
  }

  .flags i.flags-active ~ .flag-icons {
    transform: translateY(60px);
  }

  .flag-icons::before {
    top: 5px;
  }

  .flags i.flags-active ~ .flag-icons::before {
    transition-delay: 0.5s;
    top: -5px;
    bottom: 0;
  }

  .menu {
    position: relative;
    width: 80%;
    height: var(--header-height);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .menu-item {
    width: auto;
  }

  .menu-animate {
    opacity: 1;
    transform: none;
  }

  .menu-link {
    position: relative;
    display: block;
    width: 100%;
    gap: 0;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 1.3rem;
    transition: 0.5s;
    z-index: 1;
  }

  .menu-link:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 2px solid var(--card-color);
    border-bottom: 2px solid var(--card-color);
    transform: scaleY(2);
    opacity: 0;
    transition: 0.4s;
  }

  .menu-link:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--card-color);
    transform: scale(0);
    opacity: 0;
    transition: 0.4s;
    z-index: -1;
  }

  .menu-link:hover:before {
    transform: scaleY(1);
    opacity: 1;
  }
  .menu-link:hover:after {
    transform: scaleY(1);
    opacity: 1;
  }

  /*********** HOME SECTION ***************/
  .home-title {
    font-size: 3rem;
  }

  /*********** ABOUT SECTION ***************/

  .about {
    height: 100vh;
    flex-direction: row;
    justify-content: space-around;
  }

  .cards {
    width: 28vw;
    height: 78vh;
    margin: 20px 5px;
  }

  .btn-cv-fix {
    margin-top: 20px;
  }

  .cards::before {
    content: "";
    position: absolute;
    top: -3vh;
    left: -3vw;
    width: 34vw;
    height: 84vh;
    background-color: var(--bg-color-opacity);
    backdrop-filter: blur(4px);
    border-radius: 5px;
    box-shadow: 1px 1px 32px var(--card-opacity),
      -1px -1px 32px var(--card-opacity);
    z-index: -10;
  }

  .card-title span {
    font-size: 32px;
  }

  .card-title h2 {
    margin: 0;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(0.9);
    }

    100% {
      transform: scale(1);
    }
  }
  */

  /*********** PORTFOLIO SECTION ***************/

  .portfolio {
    width: 100%;
    height: calc(100vh - var(--header-height));
  }

  .portfolio h2 {
    text-align: center;
  }

  .portfolio p {
    margin: 0;
    text-align: center;
  }
  .row {
    flex-direction: row;
  }
  .col {
    color: #fff;
    flex: 1 1 auto;
    min-height: 230px;
    position: relative;
  }

  /*********** CONTACT SECTION ***************/

  .contact {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .card-contact {
    margin-left: 60px;
    width: 50%;
    height: 90%;
  }

  .card-contact::before {
    width: 110%;
    height: 110%;
  }

  #canvas2 {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -5;
  }

  .card-contact h2 {
    margin-bottom: 10px;
  }

  .form-container {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 10px;
  }

  .form {
    width: 100%;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(2, auto);
    grid-template-areas:
      "name email"
      " subject subject"
      " message message"
      " loader loader"
      " error error"
      "errorSent errorSent"
      "sent sent"
      "btn btn";
  }

  #group-name {
    grid-area: name;
  }
  #group-email {
    grid-area: email;
  }
  #group-subject {
    grid-area: subject;
  }
  #group-message {
    grid-area: message;
  }

  .loader-send {
    grid-area: loader;
  }

  .form-message {
    grid-area: error;
  }

  .form-response-error {
    grid-area: errorSent;
  }

  .form-response {
    grid-area: sent;
  }

  .contact-btn {
    grid-area: btn;
    justify-self: center;
  }
}
